<header class="header">
  <div class="logo" (click)="redirect('')">
    <img src="faviconchik.svg" alt="logo" />
    <h1>UltraFilms</h1>
  </div>

  <!-- Burger Menu Icon -->
  <div class="burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="links" [class.active]="isMenuOpen">
    <ul (click)="redirect('')">{{ 'home' | translate }}</ul>
    <ul (click)="redirect('movies')">{{ 'movies' | translate }}</ul>
    <ul (click)="redirect('about')">{{ 'aboutus' | translate }}</ul>
  </div>
</header>
