<header class="header">
  <div class="logo" (click)="redirect('')">
    <img src="Logo.png" alt="logo" />
    <h1>UltraFilms</h1>
  </div>

  <!-- Burger Menu Icon -->
  <div class="burger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="links" [class.active]="isMenuOpen">
    <ul (click)="redirect('')">{{ 'home' | translate }}</ul>
    <ul
      class="movies"
      (mouseenter)="showGenres(true)"
      (mouseleave)="showGenres(false)"
      (click)="onMoviesClick($event)"
    >
      {{ 'movies' | translate }}

      <ul class="movieLinks" *ngIf="isGenreListVisible">
        <!-- Genre List -->
        <ng-container *ngFor="let genre of genreList">
          <li [class.selected]="selectedGenres.includes(genre)"
              (click)="redirectToGenre(genre, $event)">
            {{ genre }}
          </li>
        </ng-container>

        <!-- Separator -->
        <br class="separator" />
        <p class="selectYear" (click)="$event.stopPropagation(); false">
          {{"selectByYear" | translate}}
        </p>
        <!-- Year Dropdown -->
        <select (click)="$event.stopPropagation()" (change)="selectYear($event)" class="modern-select dark-mode">
          <option *ngFor="let year of yearList" [value]="year">{{ year }}</option>
        </select>



        <!-- Disabled Clickable Text -->


      </ul>
    </ul>

    <ul (click)="redirect('about')">{{ 'aboutus' | translate }}</ul>
  </div>
</header>
