:host {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.search{
  position: relative;
  top: 40px;
  margin-bottom: 60px;
  input{
    width: 250px;
    height: 30px;
    border-radius: 10px;

  }
}

.searchButton{
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

}

.wrapper {
  background-color: #1a1b20;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 53px;
  width: 100%;
  justify-content: center;
  overflow-x: hidden;
  border-radius: 20px;


  .movieCard {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #ffffff66;
    background-color: #1a1b20;
    border-radius: 20px;
    text-align: -webkit-left;
    color: white;
    font-size: 20px;
    padding: 6px;
  }

  .movieImg {

    img {
      width: 250px;
      height: 250px;
      border-radius: 20px;
      object-fit: contain;
    }
  }
}

.moviePoster:hover {
  cursor: pointer;
}

.movieTitle:hover {
  cursor: pointer;
  text-decoration: underline;
}

.notFound{
  background-color: transparent;
  font-size: 25px;
  color: white;
  display: flex;
  text-align: center;
  position: absolute;
  top: 30%;
}


@media screen and (max-width: 1023px) {
  .main-wrapper {
    flex-direction: column;
    width: fit-content;
  }
  .wrapper {
    background-color: #1a1b20;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    justify-content: center;
    overflow-x: hidden;
    border-radius: 10px;
    padding-left: 44px;
  }
}


@media screen and (max-width: 379px) {
  .wrapper {
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
  }
}


