.movie-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;

  .movie {
    position: relative;
    top: 190px;
  }
}


.main-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 30px;
  margin-top: 350px;

  &--text {
    width: 30%;
    color: white;
  }
}


.movie-poster {
  img {
    width: 200px;
  }
}

.skip-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  z-index: 10;
}



.ad {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 255px;

}

@media screen and (max-width: 1023px) {
  .main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;

    &--text {
      width: 80%;
      color: white;
    }
  }


  .movie-poster {

    img {
      margin-top: 300px;
    }
  }
}
