<div class="movie-page">
  <div class="main-info">
    <div class="movie-poster">
      <img [src]="movieProperties.poster" [alt]="movieProperties.poster">
    </div>
    <div class="main-info--text">
      <h1>{{ movieProperties.name }}</h1>
      <br>
      <p>{{ "genre" | translate }}: {{ movieProperties.genre }}</p>
      <br>
      <p>{{ "year" | translate }}: {{ movieProperties.year }}</p>
      <br>
      <p>{{ "movieDescription" | translate }}: {{ movieProperties.description }}</p>
    </div>
    <div class="movie">
      <!-- The main movie iframe -->
      <iframe [width]="width" [height]="height" [src]="safeMovieUrl" allowfullscreen="1"
              allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>
    </div>
  </div>

  <div class="ad" *ngIf="movieAd">
    <div style="position: relative; cursor: pointer;" (click)="redirectToAd()">
      <!-- The advertisement iframe -->
      <iframe
        [width]="width"
        [height]="height"
        frameborder="0"
        [src]="adUrlSafeUrl"
        allow="autoplay; fullscreen;">
      </iframe>
      <div
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;">
      </div>
    </div>

    <button *ngIf="showSkipButton" (click)="removeAd()" class="skip-btn">
      Skip Ad
    </button>
  </div>
</div>
