.overlay {
  background-color: rgba(0, 0, 0, 0.713);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.img-slider {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    top: 45px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    object-fit: contain;
  }

  .active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}

.img-slider-2 {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    position: absolute;
    top: 884px;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    object-fit: contain;
  }

  .active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
}


.swiper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 200px;
}

.ad-left {
  height: 100%;
  position: absolute;
  top: 50%;
  z-index: 3;
  width: 170px;
}


.ad-right {
  height: 100%;
  position: absolute;
  top: 50%;
  z-index: 3;
  right: 0;
  width: 170px;

  img {
    width: 100%;
  }
}



@media screen and (max-width: 1023px) {
  .wrapper {
    position: relative;
  }

  .ad-left {
    position: absolute;
    top: 0;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      transform: rotate(90deg);
    }
  }

  .ad-right {
    position: absolute;
    top: 150%;
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;

      transform: rotate(90deg);
    }
  }

  .img-slider-2 {
    position: absolute;
    top: 100%;
  }
}