<div class="wrapper">
  <div class="ad-left">
    <a [href]="leftAd?.redirectUrl" target="_blank">
      <img [src]="leftAd?.imgUrl" alt="Ad Image">
    </a>
  </div>

  <div class="img-slider">
    <img *ngFor="let image of firstImages; let i = index" [src]="image.img"
      [ngClass]="{ active: i === currentIndex }" />
  </div>

  <div class="img-slider-2">
    <img *ngFor="let image of secondImages; let i = index" [src]="image.img"
      [ngClass]="{ active: i === currentIndex }" />
  </div>

  <div class="swiper">
    <app-swiper [header]="'top' | translate" type="topMoviesArray"></app-swiper>
    <app-swiper [header]="'new' | translate" type="bottomMoviesArray"></app-swiper>
  </div>

  <div class="ad-right">
    <a [href]="rightAd?.redirectUrl" target="_blank">
      <img [src]="rightAd?.imgUrl" alt="Ad Image">
    </a>
  </div>
</div>
