<div class="main" *ngIf="{movies:movies$ | async} as params">
  <div class="header">
    <h1 class="header-text">{{ header }}</h1>
  </div>
  <div class="swiper">
    <button class="arrow_left" (click)="leftClick()"><img src="left-arrow.png" alt=""></button>
    <div
      #main
      class="swiper__dates"
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp()"
      (mouseleave)="onMouseLeave()"
    >
      <div *ngFor="let movie of params.movies?.[type]">
        <img [src]="movie.poster" alt="{{ movie.movieType }}" />
        <h3 class="movie-title">{{ movie.name }}</h3>
      </div>
    </div>
    <button class="arrow_right" (click)="rightClick()"><img src="right-arrow.png" alt=""></button>
  </div>
</div>
