<div class="main">
  <div class="header">
    <h1 class="header-text">{{ header }}</h1>
  </div>
  <div class="swiper">
    <button (click)="leftClick()"><img src="left-arrow.png" alt=""></button>
    <div
      #main
      class="swiper__dates"
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseMove($event)"
      (mouseup)="onMouseUp()"
      (mouseleave)="onMouseLeave()"
    >
      <div *ngFor="let movie of moviesList">
        <img [src]="movie.poster" alt="{{ movie.original_name }}" />
        <h3 class="movie-title">{{ movie.original_name }}</h3>
      </div>
    </div>
    <button (click)="rightClick()"><img src="right-arrow.png" alt=""></button>
  </div>
</div>
